# Pandas Basics

## What is Pandas?

A package for the Python programming language for data manipulation and analysis. 

In particular, it offers data structures and operations for manipulating numerical tables and time series.

## Installing Pandas (PIP)

Pip is a package manager for Python that automates the process of installing, upgrading, configuring, and removing packages.

`How it works`
Pip uses PyPi as its default repository for fetching packages, but it can also install packages from other sources, such as version control systems, requirements files, and distribution files.

`When it's included`
Pip is included by default in Python version 3.4 or later. If you installed Python from source, with an installer from python.org, or via Homebrew, you should already have pip.

`How to use it`
You run pip from your system's command-line interface, not from within Python itself. To install a package, type pip install and then the name of the package.

For VS Code, this is run in your terminal (and venv if you're using one.)

Syntax `pip install pandas`

In [1]:
import pandas as pd
print('Pandas is successfully imported.')

Pandas is successfully imported.

## Introduction to Pandas
- Pandas is a Python library used for working with data sets.
- It provides functions for analyzing, cleaning, exploring, and manipulating data.
- Created by Wes McKinney in 2008.
- The name Pandas is derived from **Panel Data** and **Python Data Analysis**.

# Why Use Pandas in Python?

## 1. Data Structures for Efficient Handling
- **Series**: One-dimensional labeled array (similar to a column in Excel or a list with labels).
- **DataFrame**: Two-dimensional labeled data structure (like a spreadsheet or SQL table).

## 2. Easy Data Manipulation
- Read and write data from multiple sources: **CSV, Excel, SQL databases, JSON**, and more.
- Perform operations like **filtering, sorting, reshaping, and aggregation** efficiently.

## 3. Powerful Data Cleaning Tools
- Handle missing values easily using `.fillna()`, `.dropna()`, and `.interpolate()`.
- Detect and remove duplicate entries with `.duplicated()` and `.drop_duplicates()`.

## 4. Fast and Efficient Data Processing
- Built on **NumPy**, enabling fast operations on large datasets.
- **Vectorized operations** avoid the need for slow Python loops.

## 5. Advanced Data Aggregation & Grouping
- Use `.groupby()` to aggregate data and perform computations like **mean, sum, count**, etc.
- Use `.pivot_table()` for **multi-dimensional data summarization**.

## 6. Merging and Joining Datasets
- Use `.merge()` and `.join()` to **combine multiple datasets** based on keys (like SQL joins).
- Use `.concat()` to concatenate datasets **vertically or horizontally**.

## 7. Time Series Analysis
- **Resample, shift, and handle time-indexed data** easily with `.resample()` and `.shift()`.
- Perform **rolling window calculations** using `.rolling()`.

## 8. Built-in Visualization
- Integrates with **Matplotlib** to create plots directly from DataFrames using `.plot()`.
- Supports **line plots, bar charts, histograms, scatter plots**, and more.

## 9. Compatibility with Other Libraries
- Works seamlessly with **NumPy, Matplotlib, Seaborn, Scikit-Learn, and TensorFlow**.
- Can convert data to **NumPy arrays** for machine learning models.

## 10. Data Export and Storage
- Easily save processed data back to **CSV, Excel, JSON, SQL**, and other formats.
- Helps in **data pipeline automation**.

### Installation of Pandas
If Pandas is not installed, you can install it using pip:
```
!pip install pandas
```

In [2]:
import pandas as pd
print('Pandas is successfully imported.')

Pandas is successfully imported.

### Pandas Series
A **Series** is a one-dimensional array holding data of any type. It is similar to a column in a table.

Note that you would only use a series if you are working with one dimensional data. While you can use a dataframe, it uses more memory.

SINGLE COLUMN ARRAY HOE

In [5]:
a = [1, 7, 2] #what type of variable is a?
myvar = pd.Series(a) #call for a series. Also note that pandas is called as pd becuase that's how we imported it. 
print(myvar)

0    1
1    7
2    2
dtype: int64

By default, Pandas labels the Series with index numbers starting from 0. You can also create custom labels using the `index` argument.

In [4]:
a = [1, 7, 2]
myvar = pd.Series(a, index = ['x', 'y', 'z']) #must match the length of the input. 
print(myvar)

x    1
y    7
z    2
dtype: int64

### Pandas DataFrame
A **DataFrame** is a 2-dimensional data structure, like a table with rows and columns.

two or more columns, excel like strucutre HOE

- Calories & Duration = lists
- If you have more than 2 then it would be a list HOE
- To turn into a data frame you HAD TO PUT "df = ...."

- You have column headers, treated seperatly from data frame

In [9]:
data = {'calories': [420, 380, 390], 'duration': [50, 40, 45]} #what type is this?
df = pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

- This shit makes it looks nice (the one below HOE)

In [10]:
#In Jupyter Notebook, you can pretty print the df. With jus the dataframe's name.
df

   calories  duration
0       420        50
1       380        40
2       390        45

### Read CSV Files
You can load CSV files directly into Pandas DataFrames using `pd.read_csv()`.

- The "2" is telling code how many of the rows I want it to show

In [15]:
# Example to load CSV file
df = pd.read_csv('data.csv') #note how easy the syntax is in python
print(df.head(2))

  Month  Sales  Profit  Expenses  Customers
0   Jan    200      20       150        100
1   Feb    250      30       180        120

In [16]:
df

  Month  Sales  Profit  Expenses  Customers
0   Jan    200      20       150        100
1   Feb    250      30       180        120
2   Mar    300      50       200        130
3   Apr    350      60       210        150
4   May    400      70       250        160
5   Jun    450      80       270        180

Side Note: Here is the pandas source code for this funtion. Look how easy they made it for you!
    
https://github.com/pandas-dev/pandas/blob/main/pandas/io/parsers/readers.py

### Read JSON Files
You can also load JSON files into Pandas DataFrames using `pd.read_json()`.

- HOE remember that excel and csv files are DIFFERENT

In [17]:
# Example to load JSON file
df = pd.read_json('data.json')
print(df.head())

   id       name  price  in_stock     category  rating
0   1  Product_1  98.49      True  Electronics     2.8
1   2  Product_2  43.87     False        Books     1.2
2   3  Product_3  33.23      True     Clothing     1.4
3   4  Product_4  63.88      True     Clothing     4.2
4   5  Product_5  30.03      True  Electronics     2.1

In [18]:
df

   id        name  price  in_stock     category  rating
0   1   Product_1  98.49      True  Electronics     2.8
1   2   Product_2  43.87     False        Books     1.2
2   3   Product_3  33.23      True     Clothing     1.4
3   4   Product_4  63.88      True     Clothing     4.2
4   5   Product_5  30.03      True  Electronics     2.1
5   6   Product_6  66.23     False         Home     4.0
6   7   Product_7  96.98      True        Books     4.5
7   8   Product_8  59.80      True        Books     1.0
8   9   Product_9  91.12      True     Clothing     3.6
9  10  Product_10  72.53      True        Books     2.2

Side Note: Here is the pandas source code for this funtion. Look how easy they made it for you!
    
https://github.com/pandas-dev/pandas/blob/main/pandas/io/json/_json.py

### Analyzing DataFrames
You can get a quick overview of a DataFrame using the `head()` and `tail()` methods to view the first and last rows.

In [20]:
print(df.head()) #by default prints 5 rows, but you can put the rows you want to customize it.
print(df.tail())

   id       name  price  in_stock     category  rating
0   1  Product_1  98.49      True  Electronics     2.8
1   2  Product_2  43.87     False        Books     1.2
2   3  Product_3  33.23      True     Clothing     1.4
3   4  Product_4  63.88      True     Clothing     4.2
4   5  Product_5  30.03      True  Electronics     2.1
   id        name  price  in_stock  category  rating
5   6   Product_6  66.23     False      Home     4.0
6   7   Product_7  96.98      True     Books     4.5
7   8   Product_8  59.80      True     Books     1.0
8   9   Product_9  91.12      True  Clothing     3.6
9  10  Product_10  72.53      True     Books     2.2

- The reason why we use 'Tails' could be to look at how many rows there are in a table HOE

The `info()` method gives you more information about the data, such as the number of entries, columns, and non-null values.

- This shit will give you the sparknotes about your data set HOE

In [21]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10 non-null     int64
 1   name      10 non-null     object
 2   price     10 non-null     float64
 3   in_stock  10 non-null     bool
 4   category  10 non-null     object
 5   rating    10 non-null     float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 542.0+ bytes
None