# Ingesting CSV and Excel Files with Pandas

In this lesson, we'll explore how to ingest data from CSV and Excel files using the Pandas library in Python. 
We will cover how to load data into a Pandas DataFrame and demonstrate common use cases with examples.

## Ingesting CSV Files

CSV (Comma Separated Values) files are one of the most common formats for storing and exchanging tabular data. 
Pandas provides the `read_csv()` function to read CSV files and load them into a DataFrame.

### Example: Reading a CSV file into a DataFrame

In [103]:
import pandas as pd
# Reading a CSV file into a DataFrame
df_csv = pd.read_csv('file.csv')

# Displaying the first 5 rows of the DataFrame
print(df_csv.head())

      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   35      Houston   90000
4      Eva   28      Phoenix   60000

### Additional Options for CSV Files

You can specify additional options such as the delimiter, encoding type, and how to handle missing values.

#### Example: Reading a CSV file with additional options

In [104]:
import pandas as pd
# Reading a CSV file with specific options
df_csv_options = pd.read_csv('file.csv', delimiter=',', encoding='utf-8', na_values=["N/A", "null"])
# docs link for read_csv https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

# Displaying the first 5 rows of the DataFrame
print(df_csv_options.head())

      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   35      Houston   90000
4      Eva   28      Phoenix   60000

## Ingesting Excel Files

Pandas can also read data from Excel files. The `read_excel()` function allows you to read Excel files into a DataFrame. These require a pip install of openpyxl.

### Example: Reading an Excel file into a DataFrame

In [105]:
import pandas as pd
# Reading an Excel file into a DataFrame
df_excel = pd.read_excel('file.xlsx')

# Displaying the first 5 rows of the DataFrame
print(df_excel.head())

      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   35      Houston   90000
4      Eva   28      Phoenix   60000

### Reading Specific Sheets

If your Excel file has multiple sheets, you can specify which sheet to read using the `sheet_name` parameter.

#### Example: Reading a specific sheet from an Excel file

In [106]:
# Read a specific sheet by name
df_sheet_2= pd.read_excel('file.xlsx', sheet_name='Sheet2')
print(df_sheet_2.head())

# Read a specific sheet by index (e.g., first sheet = 0)
df_first_sheet = pd.read_excel('file.xlsx', sheet_name=0)

print(df_first_sheet.head())

  Name  Age         City  Salary
0    a   24     New York   70000
1    b   30  Los Angeles   80000
2    c   22      Chicago   50000
3    d   35      Houston   90000
4    e   28      Phoenix   60000
      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   35      Houston   90000
4      Eva   28      Phoenix   60000

### Reading Multiple Sheets

You can also load multiple sheets from an Excel file into a dictionary of DataFrames.

#### Example: Reading multiple sheets

In [107]:
# Read multiple sheets by names
sheets_dict = pd.read_excel('file.xlsx', sheet_name=['Sheet1', 'Sheet2'])

# Access individual DataFrames
df_sheet1 = sheets_dict['Sheet1']
df_sheet2 = sheets_dict['Sheet2']

print(df_sheet1.head())
print(df_sheet2.head())

      Name  Age         City  Salary
0    Alice   24     New York   70000
1      Bob   30  Los Angeles   80000
2  Charlie   22      Chicago   50000
3    David   35      Houston   90000
4      Eva   28      Phoenix   60000
  Name  Age         City  Salary
0    a   24     New York   70000
1    b   30  Los Angeles   80000
2    c   22      Chicago   50000
3    d   35      Houston   90000
4    e   28      Phoenix   60000

## Analyzing Imported Data

Now let's analyze data in the employee_pay.csv file.

In [108]:
#looking at the DF
import pandas as pd

# Read the CSV file
df_salary_unique = pd.read_csv('employee_pay.csv')

#shape is a good tool to see how big your df is
print(df_salary_unique.shape)

(10000, 3)

In [109]:
#look at what is in your df
df_salary_unique.head()

               Name Department  Salary
0       Diane Lewis      Sales   81284
1  Thomas Armstrong  Marketing  119922
2    Felicia Vaughn  Marketing  118874
3  Joshua Daugherty      Sales   95277
4    Rachel Compton         HR   55316

In [110]:
#data types
df_salary_unique.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        10000 non-null  object
 1   Department  10000 non-null  object
 2   Salary      10000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [111]:
#totaling salary and employee count by department

# Group by department and calculate total salaries and employee count. Note add can apply different functions to the columns. 
salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()

# Display the result
print(salary_summary)

   Department  Total_Salary  Employee_Count
0     Finance     111819356            1400
1          HR     110095473            1396
2          IT     116329745            1442
3       Legal     116527391            1446
4   Marketing     117244868            1460
5  Operations     113591529            1418
6       Sales     114328979            1438

In [112]:
# Clean up the total salaries.

salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()

# Format the Total_Salary column with commas
salary_summary['Total_Salary'] = salary_summary['Total_Salary'].apply(lambda x: f"{x:,}")

# Display the result
print(salary_summary)

   Department Total_Salary  Employee_Count
0     Finance  111,819,356            1400
1          HR  110,095,473            1396
2          IT  116,329,745            1442
3       Legal  116,527,391            1446
4   Marketing  117,244,868            1460
5  Operations  113,591,529            1418
6       Sales  114,328,979            1438

In [113]:
# also cleanup the employee count

salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()

# Format the Total_Salary and Employee_Count columns with commas
salary_summary['Total_Salary'] = salary_summary['Total_Salary'].apply(lambda x: f"{x:,}")
salary_summary['Employee_Count'] = salary_summary['Employee_Count'].apply(lambda x: f"{x:,}")

# Display the result
print(salary_summary)

   Department Total_Salary Employee_Count
0     Finance  111,819,356          1,400
1          HR  110,095,473          1,396
2          IT  116,329,745          1,442
3       Legal  116,527,391          1,446
4   Marketing  117,244,868          1,460
5  Operations  113,591,529          1,418
6       Sales  114,328,979          1,438

In [114]:
# add max mean and min columns 

salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count')
).reset_index()

# Group by department and calculate total salaries, employee count, average, min, and max salary
salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count'),
    Avg_Salary=('Salary', 'mean'),
    Min_Salary=('Salary', 'min'),
    Max_Salary=('Salary', 'max')
).reset_index()

# Format the Total_Salary, Employee_Count, Avg_Salary, Min_Salary, and Max_Salary columns with commas
salary_summary['Total_Salary'] = salary_summary['Total_Salary'].apply(lambda x: f"{x:,}")
salary_summary['Employee_Count'] = salary_summary['Employee_Count'].apply(lambda x: f"{x:,}")
salary_summary['Avg_Salary'] = salary_summary['Avg_Salary'].apply(lambda x: f"{x:,.2f}")
salary_summary['Min_Salary'] = salary_summary['Min_Salary'].apply(lambda x: f"{x:,}")
salary_summary['Max_Salary'] = salary_summary['Max_Salary'].apply(lambda x: f"{x:,}")

# Display the result without the total row
print(salary_summary)

   Department Total_Salary Employee_Count Avg_Salary Min_Salary Max_Salary
0     Finance  111,819,356          1,400  79,870.97     40,010    119,837
1          HR  110,095,473          1,396  78,864.95     40,063    119,983
2          IT  116,329,745          1,442  80,672.50     40,046    119,959
3       Legal  116,527,391          1,446  80,586.02     40,026    119,952
4   Marketing  117,244,868          1,460  80,304.70     40,092    119,992
5  Operations  113,591,529          1,418  80,106.86     40,015    119,990
6       Sales  114,328,979          1,438  79,505.55     40,043    119,928

In [115]:
# Add a total line on the bottom. 

# Group by department and calculate total salaries, employee count, average, min, and max salary
salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count'),
    Avg_Salary=('Salary', 'mean'),
    Min_Salary=('Salary', 'min'),
    Max_Salary=('Salary', 'max')
).reset_index()

# Format the Total_Salary, Employee_Count, Avg_Salary, Min_Salary, and Max_Salary columns with commas
salary_summary['Total_Salary'] = salary_summary['Total_Salary'].apply(lambda x: f"{x:,}")
salary_summary['Employee_Count'] = salary_summary['Employee_Count'].apply(lambda x: f"{x:,}")
salary_summary['Avg_Salary'] = salary_summary['Avg_Salary'].apply(lambda x: f"{x:,.2f}")
salary_summary['Min_Salary'] = salary_summary['Min_Salary'].apply(lambda x: f"{x:,}")
salary_summary['Max_Salary'] = salary_summary['Max_Salary'].apply(lambda x: f"{x:,}")

# Calculate the total across all departments for Total_Salary and Employee_Count
total_row = pd.DataFrame({
    'Department': ['Total'],
    'Total_Salary': [f"{df_salary_unique['Salary'].sum():,}"],
    'Employee_Count': [f"{df_salary_unique['Name'].count():,}"],
    'Avg_Salary': [''],
    'Min_Salary': [''],
    'Max_Salary': ['']
})

# Append the total row to the summary
salary_summary = pd.concat([salary_summary, total_row], ignore_index=True)

# Display the result
print(salary_summary)

   Department Total_Salary Employee_Count Avg_Salary Min_Salary Max_Salary
0     Finance  111,819,356          1,400  79,870.97     40,010    119,837
1          HR  110,095,473          1,396  78,864.95     40,063    119,983
2          IT  116,329,745          1,442  80,672.50     40,046    119,959
3       Legal  116,527,391          1,446  80,586.02     40,026    119,952
4   Marketing  117,244,868          1,460  80,304.70     40,092    119,992
5  Operations  113,591,529          1,418  80,106.86     40,015    119,990
6       Sales  114,328,979          1,438  79,505.55     40,043    119,928
7       Total  799,937,341         10,000

In [116]:
# Sort 

# Group by department and calculate total salaries, employee count, average, min, and max salary
salary_summary = df_salary_unique.groupby('Department').agg(
    Total_Salary=('Salary', 'sum'),
    Employee_Count=('Name', 'count'),
    Avg_Salary=('Salary', 'mean'),
    Min_Salary=('Salary', 'min'),
    Max_Salary=('Salary', 'max')
).reset_index()

# Sort by Total_Salary in descending order before formatting
salary_summary_sorted = salary_summary.sort_values(by='Total_Salary', ascending=False)

# Calculate the total across all departments, but leave Avg_Salary, Min_Salary, and Max_Salary empty
total_row = pd.DataFrame({
    'Department': ['Total'],
    'Total_Salary': [df_salary_unique['Salary'].sum()],
    'Employee_Count': [df_salary_unique['Name'].count()],
    'Avg_Salary': [''],  # Empty for total row
    'Min_Salary': [''],  # Empty for total row
    'Max_Salary': ['']   # Empty for total row
})

# Append the total row to the sorted summary
salary_summary_sorted = pd.concat([salary_summary_sorted, total_row], ignore_index=True)

# Format the Total_Salary, Employee_Count, Avg_Salary, Min_Salary, and Max_Salary columns with commas. Lambda formats everything. 
salary_summary_sorted['Total_Salary'] = salary_summary_sorted['Total_Salary'].apply(lambda x: f"{x:,}")
salary_summary_sorted['Employee_Count'] = salary_summary_sorted['Employee_Count'].apply(lambda x: f"{x:,}")
salary_summary_sorted['Avg_Salary'] = salary_summary_sorted['Avg_Salary'].apply(lambda x: f"{x:,.2f}" if x != '' else '')
salary_summary_sorted['Min_Salary'] = salary_summary_sorted['Min_Salary'].apply(lambda x: f"{x:,}" if x != '' else '')
salary_summary_sorted['Max_Salary'] = salary_summary_sorted['Max_Salary'].apply(lambda x: f"{x:,}" if x != '' else '')

# Display the result sorted by Total_Salary with the total row included and empty average, min, max for total row
print(salary_summary_sorted)

   Department Total_Salary Employee_Count Avg_Salary Min_Salary Max_Salary
0   Marketing  117,244,868          1,460  80,304.70     40,092    119,992
1       Legal  116,527,391          1,446  80,586.02     40,026    119,952
2          IT  116,329,745          1,442  80,672.50     40,046    119,959
3       Sales  114,328,979          1,438  79,505.55     40,043    119,928
4  Operations  113,591,529          1,418  80,106.86     40,015    119,990
5     Finance  111,819,356          1,400  79,870.97     40,010    119,837
6          HR  110,095,473          1,396  78,864.95     40,063    119,983
7       Total  799,937,341         10,000

## Export Results to File

In [117]:
# Write the DataFrame to an Excel file
# exports to excel
salary_summary_sorted.to_excel('salary_summary_sorted_1.xlsx', index=False)

print(f"Salary summary has been saved to {'salary_summary_sorted_1.xlsx'}")

Salary summary has been saved to salary_summary_sorted_1.xlsx

## Format File

In [118]:
# Load the workbook and adjust column width
from openpyxl.utils import get_column_letter
from openpyxl import load_workbook

wb = load_workbook('salary_summary_sorted_1.xlsx')
ws = wb.active

# Adjust the width of the columns based on the max length of data in each column
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column letter
    for cell in col:
        try:
            # Find the maximum length of the data in the column
            max_length = max(max_length, len(str(cell.value)))
        except:
            pass
    adjusted_width = max_length + 2  # Add some padding to the width
    ws.column_dimensions[column].width = adjusted_width

# Save the updated workbook
wb.save('salary_summary_sorted_2.xlsx')

print(f"Salary summary with adjusted column widths has been saved to {'salary_summary_sorted_2.xlsx'}")

Salary summary with adjusted column widths has been saved to salary_summary_sorted_2.xlsx

In [119]:
#making a bar chart
from openpyxl.utils import get_column_letter
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference

# Load the workbook and adjust column width

wb = load_workbook('salary_summary_sorted_2.xlsx')
ws = wb.active

# Adjust the width of the columns based on the max length of data in each column
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column letter
    for cell in col:
        try:
            # Find the maximum length of the data in the column
            max_length = max(max_length, len(str(cell.value)))
        except:
            pass
    adjusted_width = max_length + 2  # Add some padding to the width
    ws.column_dimensions[column].width = adjusted_width

# Create a new worksheet for the chart
if 'chart' in wb.sheetnames:
    chart_ws = wb['chart']
else:
    chart_ws = wb.create_sheet('chart')

# Adding a bar chart for the salary data on the new 'chart' worksheet
# Assuming that the "Total Salary" is in Column B, starting from row 2 (and row 1 contains headers)

# Create a bar chart object
chart = BarChart()

# Define the data range for the chart (e.g., Total Salary in column B)
# The header is in row 1, and the data starts from row 2, continuing to ws.max_row
data = Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)

# Define the categories for the chart (Department names in Column A)
categories = Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

# Add data and categories to the chart
chart.add_data(data, titles_from_data=True)  # Including the header for data title
chart.set_categories(categories)

# Set the title of the chart and the labels
chart.title = "Total Salary by Department"
chart.x_axis.title = "Department"
chart.y_axis.title = "Total Salary"

# Position the chart on the new 'chart' sheet, starting at cell A1
chart_ws.add_chart(chart, "A1")

# Save the updated workbook with the chart in the new tab
wb.save('salary_summary_sorted_3.xlsx')

print(f"Salary summary with a bar chart on a new 'chart' tab has been saved to {'salary_summary_sorted_3.xlsx'}")

#why are the bars not showing?

Salary summary with a bar chart on a new 'chart' tab has been saved to salary_summary_sorted_3.xlsx

In [120]:
# Finish formatting  data
from openpyxl.utils import get_column_letter
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference
from openpyxl.styles import numbers  # For number formatting

# Load the workbook and adjust column width
wb = load_workbook('salary_summary_sorted_3.xlsx')
ws = wb.active

# Function to convert text numbers to integers or floats for specified columns
def convert_text_columns_to_numbers(worksheet, cols_int, cols_float, start_row, end_row):
    # Convert columns that should be integers
    for col in cols_int:
        for row in range(start_row, end_row + 1):
            cell = worksheet[f"{col}{row}"]
            if isinstance(cell.value, str):  # Check if the value is a string
                try:
                    # Try converting the value to an integer (remove commas if present)
                    cell.value = int(cell.value.replace(',', ''))
                except ValueError:
                    pass  # Skip if not a valid integer
    # Convert columns that should be floats
    for col in cols_float:
        for row in range(start_row, end_row + 1):
            cell = worksheet[f"{col}{row}"]
            if isinstance(cell.value, str):  # Check if the value is a string
                try:
                    # Try converting the value to a float (remove commas if present)
                    cell.value = float(cell.value.replace(',', ''))
                except ValueError:
                    pass  # Skip if not a valid float

# List of columns to convert to integers (Total Salary, Employee Count, Min Salary, Max Salary)
columns_to_convert_int = ['B', 'C', 'E', 'F']

# List of columns to convert to floats (Avg Salary, Column E)
columns_to_convert_float = ['D']

# Convert the relevant columns
convert_text_columns_to_numbers(ws, columns_to_convert_int, columns_to_convert_float, 2, ws.max_row)

# Format columns B, D, E, F as currency ($) and column C with commas (thousands separator)
for row in range(2, ws.max_row + 1):
    ws['B' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['C' + str(row)].number_format = numbers.FORMAT_NUMBER_COMMA_SEPARATED1  # Format with commas
    ws['D' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['E' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['F' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency

# Adjust the width of the columns based on the max length of data in each column
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column letter
    for cell in col:
        try:
            # Find the maximum length of the data in the column
            max_length = max(max_length, len(str(cell.value)))
        except:
            pass
    adjusted_width = max_length + 2  # Add some padding to the width
    ws.column_dimensions[column].width = adjusted_width

# Create a new worksheet for the chart
if 'chart' in wb.sheetnames:
    chart_ws = wb['chart']
else:
    chart_ws = wb.create_sheet('chart')

# Adding a bar chart for the salary data on the new 'chart' worksheet
# Assuming that the "Total Salary" is in Column B, starting from row 2 (and row 1 contains headers)

# Create a bar chart object
chart = BarChart()

# Define the data range for the chart (e.g., Total Salary in column B)
# The header is in row 1, and the data starts from row 2, continuing to ws.max_row
data = Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)

# Define the categories for the chart (Department names in Column A)
categories = Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

# Add data and categories to the chart
chart.add_data(data, titles_from_data=True)  # Including the header for data title
chart.set_categories(categories)

# Set the title of the chart and the labels
chart.title = "Total Salary by Department"
chart.x_axis.title = "Department"
chart.y_axis.title = "Total Salary"

# Position the chart on the new 'chart' sheet, starting at cell A1
chart_ws.add_chart(chart, "A1")

# Save the updated workbook with the chart in the new tab
wb.save('salary_summary_sorted_4.xlsx')

print(f"Data types updated {'salary_summary_sorted_4.xlsx'}")

Data types updated salary_summary_sorted_4.xlsx

In [121]:
# to update colum width
from openpyxl.utils import get_column_letter
from openpyxl import load_workbook
from openpyxl.chart import BarChart, Reference
from openpyxl.styles import numbers  # For number formatting

# Load the workbook
wb = load_workbook('salary_summary_sorted_4.xlsx')
ws = wb.active

# Function to convert text numbers to integers or floats for specified columns
def convert_text_columns_to_numbers(worksheet, cols_int, cols_float, start_row, end_row):
    # Convert columns that should be integers
    for col in cols_int:
        for row in range(start_row, end_row + 1):
            cell = worksheet[f"{col}{row}"]
            if isinstance(cell.value, str):  # Check if the value is a string
                try:
                    # Try converting the value to an integer (remove commas if present)
                    cell.value = int(cell.value.replace(',', ''))
                except ValueError:
                    pass  # Skip if not a valid integer
    # Convert columns that should be floats
    for col in cols_float:
        for row in range(start_row, end_row + 1):
            cell = worksheet[f"{col}{row}"]
            if isinstance(cell.value, str):  # Check if the value is a string
                try:
                    # Try converting the value to a float (remove commas if present)
                    cell.value = float(cell.value.replace(',', ''))
                except ValueError:
                    pass  # Skip if not a valid float

# List of columns to convert to integers (Total Salary, Employee Count, Min Salary, Max Salary)
columns_to_convert_int = ['B', 'C', 'D', 'F']

# List of columns to convert to floats (Avg Salary, Column E)
columns_to_convert_float = ['E']

# Convert the relevant columns
convert_text_columns_to_numbers(ws, columns_to_convert_int, columns_to_convert_float, 2, ws.max_row)

# Format columns B, D, E, F as currency ($) and column C with commas (thousands separator)
for row in range(2, ws.max_row + 1):
    ws['B' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['C' + str(row)].number_format = numbers.FORMAT_NUMBER_COMMA_SEPARATED1  # Format with commas
    ws['D' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['E' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency
    ws['F' + str(row)].number_format = numbers.FORMAT_CURRENCY_USD_SIMPLE  # Format as currency

# Adjust the width of the columns based on the max length of formatted data in each column
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column letter
    for cell in col:
        try:
            if cell.value:
                # Calculate max length based on the string representation of the value (including formatting)
                max_length = max(max_length, len(f"{cell.value}"))
        except:
            pass
    adjusted_width = max_length + 5  # Add some padding to the width
    ws.column_dimensions[column].width = adjusted_width

# Create a new worksheet for the chart
if 'chart' in wb.sheetnames:
    chart_ws = wb['chart']
else:
    chart_ws = wb.create_sheet('chart')

# Adding a bar chart for the salary data on the new 'chart' worksheet
# Assuming that the "Total Salary" is in Column B, starting from row 2 (and row 1 contains headers)

# Create a bar chart object
chart = BarChart()

# Define the data range for the chart (e.g., Total Salary in column B)
# The header is in row 1, and the data starts from row 2, continuing to ws.max_row
data = Reference(ws, min_col=2, min_row=1, max_row=ws.max_row)

# Define the categories for the chart (Department names in Column A)
categories = Reference(ws, min_col=1, min_row=2, max_row=ws.max_row)

# Add data and categories to the chart
chart.add_data(data, titles_from_data=True)  # Including the header for data title
chart.set_categories(categories)

# Set the title of the chart and the labels
chart.title = "Total Salary by Department"
chart.x_axis.title = "Department"
chart.y_axis.title = "Total Salary"

# Position the chart on the new 'chart' sheet, starting at cell A1
chart_ws.add_chart(chart, "A1")

# Save the updated workbook with the chart in the new tab
wb.save('salary_summary_sorted_5.xlsx')

print(f"Padding added to {'salary_summary_sorted_5.xlsx'}")

Padding added to salary_summary_sorted_5.xlsx

https://pandas.pydata.org/docs/user_guide/timedeltas.html

https://openpyxl.readthedocs.io/en/latest/index.html