In [42]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

print ("All packages are loaded")

All packages are loaded

In [43]:
df = pd.read_csv("cbb.csv")

print(df.head(10))

             TEAM CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  EFG_D   TOR  \
0  North Carolina  ACC  40  33  123.3   94.9   0.9531   52.6   48.1  15.4
1       Wisconsin  B10  40  36  129.1   93.6   0.9758   54.8   47.7  12.4
2        Michigan  B10  40  33  114.4   90.4   0.9375   53.9   47.7  14.0
3      Texas Tech  B12  38  31  115.2   85.2   0.9696   53.5   43.0  17.7
4         Gonzaga  WCC  39  37  117.8   86.3   0.9728   56.6   41.1  16.2
5        Kentucky  SEC  40  29  117.2   96.2   0.9062   49.9   46.0  18.1
6        Michigan  B10  38  30  121.5   93.7   0.9522   54.6   48.0  14.6
7            Duke  ACC  39  35  125.2   90.6   0.9764   56.6   46.5  16.3
8        Virginia  ACC  38  35  123.0   89.9   0.9736   55.2   44.7  14.7
9  North Carolina  ACC  39  33  121.0   91.5   0.9615   51.7   48.1  16.2

   ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0  ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND   1.0  2016
1  ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND   1.0  2015
2  ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND   3.0  2018
3  ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND   3.0  2019
4  ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND   1.0  2017
5  ...  36.8  50.0  44.9  33.2  32.2   65.9   3.9         2ND   8.0  2014
6  ...  22.7  53.4  47.6  37.9  32.6   64.8   6.2         2ND   4.0  2013
7  ...  23.9  55.9  46.3  38.7  31.4   66.4  10.7   Champions   1.0  2015
8  ...  26.3  52.5  45.7  39.5  28.9   60.7  11.1   Champions   1.0  2019
9  ...  31.6  51.0  46.3  35.5  33.9   72.8   8.4   Champions   1.0  2017

[10 rows x 24 columns]

In [44]:
print (df.info())

print(df.describe())

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3885 entries, 0 to 3884
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        3885 non-null   object
 1   CONF        3885 non-null   object
 2   G           3885 non-null   int64
 3   W           3885 non-null   int64
 4   ADJOE       3885 non-null   float64
 5   ADJDE       3885 non-null   float64
 6   BARTHAG     3885 non-null   float64
 7   EFG_O       3885 non-null   float64
 8   EFG_D       3885 non-null   float64
 9   TOR         3885 non-null   float64
 10  TORD        3885 non-null   float64
 11  ORB         3885 non-null   float64
 12  DRB         3885 non-null   float64
 13  FTR         3885 non-null   float64
 14  FTRD        3885 non-null   float64
 15  2P_O        3885 non-null   float64
 16  2P_D        3885 non-null   float64
 17  3P_O        3885 non-null   float64
 18  3P_D        3885 non-null   float64
 19  ADJ_T       3885 non-null   float64
 20  WAB         3885 non-null   float64
 21  POSTSEASON  748 non-null    object
 22  SEED        748 non-null    float64
 23  YEAR        3885 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 728.6+ KB
None
                 G            W        ADJOE        ADJDE      BARTHAG  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000
mean     30.531532    16.075418   103.339743   103.341519     0.493928
std       3.809623     6.506570     7.315009     6.490684     0.255374
min       5.000000     0.000000    76.600000    84.000000     0.005000
25%      29.000000    11.000000    98.300000    98.600000     0.281200
50%      31.000000    16.000000   103.000000   103.500000     0.474000
75%      33.000000    21.000000   108.100000   108.000000     0.716400
max      40.000000    38.000000   129.100000   124.000000     0.984200

             EFG_O        EFG_D          TOR         TORD          ORB  ...  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000  ...
mean     49.935856    50.125946    18.551223    18.483115    29.267310  ...
std       3.079803     2.855079     2.145057     2.289045     4.201366  ...
min      39.200000    39.600000    11.900000    10.200000    14.400000  ...
25%      47.900000    48.200000    17.100000    16.900000    26.500000  ...
50%      49.900000    50.100000    18.500000    18.400000    29.300000  ...
75%      52.000000    52.000000    19.900000    19.900000    32.000000  ...
max      61.000000    60.100000    27.100000    28.500000    43.600000  ...

               FTR         FTRD         2P_O         2P_D         3P_O  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000
mean     34.384813    34.645766    49.224402    49.388880    34.141133
std       5.465945     6.337450     3.416380     3.290915     2.713812
min      19.600000    16.200000    37.700000    37.700000    24.700000
25%      30.500000    30.100000    46.900000    47.200000    32.300000
50%      34.200000    34.000000    49.200000    49.400000    34.100000
75%      38.000000    38.600000    51.400000    51.700000    35.900000
max      58.600000    60.700000    64.000000    61.200000    44.100000

              3P_D        ADJ_T          WAB        SEED         YEAR
count  3885.000000  3885.000000  3885.000000  748.000000  3885.000000
mean     34.319614    67.712227    -7.639967    8.798128  2018.403604
std       2.406306     3.037251     6.826502    4.671615     3.583747
min      26.100000    57.200000   -25.200000    1.000000  2013.000000
25%      32.700000    65.700000   -12.600000    5.000000  2015.000000
50%      34.300000    67.600000    -8.100000    9.000000  2018.000000
75%      35.900000    69.700000    -3.000000   13.000000  2022.000000
max      43.100000    83.400000    13.100000   16.000000  2024.000000

[8 rows x 21 columns]
             TEAM CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  EFG_D   TOR  \
0  North Carolina  ACC  40  33  123.3   94.9   0.9531   52.6   48.1  15.4
1       Wisconsin  B10  40  36  129.1   93.6   0.9758   54.8   47.7  12.4
2        Michigan  B10  40  33  114.4   90.4   0.9375   53.9   47.7  14.0
3      Texas Tech  B12  38  31  115.2   85.2   0.9696   53.5   43.0  17.7
4         Gonzaga  WCC  39  37  117.8   86.3   0.9728   56.6   41.1  16.2

   ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0  ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND   1.0  2016
1  ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND   1.0  2015
2  ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND   3.0  2018
3  ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND   3.0  2019
4  ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND   1.0  2017

[5 rows x 24 columns]

In [45]:


df = df.rename(columns={'CONF': 'Conference'})
df = df.rename(columns={'G': 'Games Played'})
df = df.rename(columns={'W': 'Wins'})
df = df.rename(columns={'ADJOE': 'Offensive Efficiency'})
df = df.rename(columns={'ADJDE': 'Defensive Efficiency'})
df = df.rename(columns={'BARTHAG': 'Team Strength'})
df = df.rename(columns={'EFG_O': 'Field Goal % (Offense)'})
df = df.rename(columns={'EFG_D': 'Field Goal % (Defense)'})
df = df.rename(columns={'TOR': 'Turn Over Rate'})
df = df.rename(columns={'TORD': 'Steal Percentage'})
df = df.rename(columns={'ORB':'Offensive Rebounds'})
df = df.rename(columns={'DRB':'Defensive Rebound Percentage'})
df = df.rename(columns={'FTR':'Free Throw Rate'})
df = df.rename(columns={'2P_O': '2 Point (Offense)'})
df = df.rename(columns={'2P_D': '2 Point (Defense)'})
df = df.rename(columns={'3P_O': '3 Point (Offense)'})
df = df.rename(columns={'3P_D': '3 Point (Defense)'})
df = df.rename(columns={'POSTSEASON': 'Postseason'})
df = df.rename(columns={'SEED': 'Seed'})
df = df.rename(columns={'YEAR': 'Year'})

df= df.drop(columns = 'FTRD')
df= df.drop(columns = 'ADJ_T')


print(df.head(1000))

                 TEAM Conference  Games Played  Wins  Offensive Efficiency  \
0      North Carolina        ACC            40    33                 123.3
1           Wisconsin        B10            40    36                 129.1
2            Michigan        B10            40    33                 114.4
3          Texas Tech        B12            38    31                 115.2
4             Gonzaga        WCC            39    37                 117.8
..                ...        ...           ...   ...                   ...
995    Tennessee Tech        OVC            29    17                 106.6
996       Austin Peay        OVC            28    11                 104.5
997           Belmont        OVC            29    23                 108.8
998  Eastern Illinois        OVC            27    14                  99.7
999  Eastern Kentucky        OVC            29    12                  98.2

     Defensive Efficiency  Team Strength  Field Goal % (Offense)  \
0                    94.9         0.9531                    52.6
1                    93.6         0.9758                    54.8
2                    90.4         0.9375                    53.9
3                    85.2         0.9696                    53.5
4                    86.3         0.9728                    56.6
..                    ...            ...                     ...
995                 111.2         0.3807                    52.4
996                 116.9         0.2169                    52.4
997                 103.3         0.6455                    55.7
998                 103.7         0.3870                    47.8
999                 106.4         0.2844                    49.4

     Field Goal % (Defense)  Turn Over Rate  ...  \
0                      48.1            15.4  ...
1                      47.7            12.4  ...
2                      47.7            14.0  ...
3                      43.0            17.7  ...
4                      41.1            16.2  ...
..                      ...             ...  ...
995                    50.6            17.8  ...
996                    56.4            17.3  ...
997                    48.3            18.4  ...
998                    49.7            17.5  ...
999                    51.4            19.8  ...

     Defensive Rebound Percentage  Free Throw Rate  2 Point (Offense)  \
0                            30.0             32.3               53.9
1                            23.7             36.2               54.8
2                            24.9             30.7               54.7
3                            28.7             32.9               52.8
4                            26.2             39.0               56.3
..                            ...              ...                ...
995                          31.9             44.0               51.3
996                          35.8             41.0               52.2
997                          25.0             29.4               60.9
998                          32.4             26.9               43.5
999                          32.9             37.4               50.1

     2 Point (Defense)  3 Point (Offense)  3 Point (Defense)   WAB  \
0                 44.6               32.7               36.2   8.6
1                 44.7               36.5               37.5  11.3
2                 46.8               35.2               33.2   6.9
3                 41.9               36.5               29.7   7.0
4                 40.0               38.2               29.0   7.7
..                 ...                ...                ...   ...
995               48.5               35.9               36.4  -6.0
996               56.9               35.2               37.0 -13.8
997               48.6               34.1               31.8  -0.7
998               47.6               36.6               35.9 -11.5
999               49.8               32.3               36.2 -13.3

     Postseason  Seed  Year
0           2ND   1.0  2016
1           2ND   1.0  2015
2           2ND   3.0  2018
3           2ND   3.0  2019
4           2ND   1.0  2017
..          ...   ...   ...
995         NaN   NaN  2016
996         NaN   NaN  2017
997         NaN   NaN  2017
998         NaN   NaN  2017
999         NaN   NaN  2017

[1000 rows x 22 columns]

In [46]:
df = pd.read_csv('cbb.csv')

print(df.isna().sum())

#shows the total count of NaNs in each column

TEAM             0
CONF             0
G                0
W                0
ADJOE            0
ADJDE            0
BARTHAG          0
EFG_O            0
EFG_D            0
TOR              0
TORD             0
ORB              0
DRB              0
FTR              0
FTRD             0
2P_O             0
2P_D             0
3P_O             0
3P_D             0
ADJ_T            0
WAB              0
POSTSEASON    3137
SEED          3137
YEAR             0
dtype: int64

In [47]:
print(df[df.isna().any(axis=1)])

#This shows the rows that contain any NaN value

                        TEAM  CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  \
56                  Duquesne   A10  30  11  107.0  111.7   0.3790   51.2
57                   Fordham   A10  30   9  101.0  103.0   0.4450   46.7
58              George Mason   A10  30   8  101.2  103.8   0.4276   45.5
59         George Washington   A10  35  22  107.2   96.2   0.7755   48.9
60                  La Salle   A10  33  17   98.9   92.9   0.6734   46.7
...                      ...   ...  ..  ..    ...    ...      ...    ...
3880               Stonehill   NEC  30   4   90.3  114.2   0.0629   46.7
3881          St. Francis PA   NEC  28   8   93.1  118.1   0.0608   47.2
3882                   IUPUI  Horz  29   6   92.1  116.9   0.0607   46.5
3883              Coppin St.  MEAC  29   2   85.1  111.1   0.0445   42.1
3884  Mississippi Valley St.  SWAC  31   1   85.4  116.2   0.0283   42.5

      EFG_D   TOR  ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  \
56     51.7  18.3  ...  33.8  49.5  47.7  36.2  38.5   67.6 -11.3         NaN
57     50.2  22.2  ...  41.7  47.8  49.6  29.8  34.1   65.9 -12.3         NaN
58     50.0  21.9  ...  44.7  44.9  48.4  31.6  35.3   65.0 -12.6         NaN
59     45.9  18.7  ...  28.9  47.3  44.9  35.2  31.9   62.7  -2.3         NaN
60     45.8  19.9  ...  34.4  46.1  45.1  32.1  31.6   64.8  -6.3         NaN
...     ...   ...  ...   ...   ...   ...   ...   ...    ...   ...         ...
3880   52.7  19.5  ...  29.4  47.9  51.7  30.1  35.9   68.1 -22.0         NaN
3881   53.0  21.2  ...  35.4  45.7  52.9  33.2  35.4   65.4 -18.6         NaN
3882   58.2  21.3  ...  33.4  49.5  59.0  24.7  38.0   67.3 -21.6         NaN
3883   51.3  22.9  ...  38.3  41.9  51.0  28.3  34.5   66.3 -22.9         NaN
3884   55.6  24.0  ...  41.6  41.9  55.6  29.2  37.0   64.5 -22.7         NaN

      SEED  YEAR
56     NaN  2015
57     NaN  2015
58     NaN  2015
59     NaN  2015
60     NaN  2015
...    ...   ...
3880   NaN  2024
3881   NaN  2024
3882   NaN  2024
3883   NaN  2024
3884   NaN  2024

[3137 rows x 24 columns]

In [48]:
#Check for null values in the original dataframe
print("Null values in each column (original df):")
print(df.isnull().sum())

#Create a new version of dataframe with nulls removed 
df_cleaned = df.dropna()

#Confrim that nulls are gone in the cleaned version 
print('\nNull values in df_cleaned:')
print(df_cleaned.isnull().sum())

Null values in each column (original df):
TEAM             0
CONF             0
G                0
W                0
ADJOE            0
ADJDE            0
BARTHAG          0
EFG_O            0
EFG_D            0
TOR              0
TORD             0
ORB              0
DRB              0
FTR              0
FTRD             0
2P_O             0
2P_D             0
3P_O             0
3P_D             0
ADJ_T            0
WAB              0
POSTSEASON    3137
SEED          3137
YEAR             0
dtype: int64

Null values in df_cleaned:
TEAM          0
CONF          0
G             0
W             0
ADJOE         0
ADJDE         0
BARTHAG       0
EFG_O         0
EFG_D         0
TOR           0
TORD          0
ORB           0
DRB           0
FTR           0
FTRD          0
2P_O          0
2P_D          0
3P_O          0
3P_D          0
ADJ_T         0
WAB           0
POSTSEASON    0
SEED          0
YEAR          0
dtype: int64

In [49]:
print("Original df (with any nulls):")
print(df)

#Reset index of cleand df to reflect correct number of rows 
df_cleaned = df_cleaned.reset_index(drop=True)

print("\nCleaned df (no nulls):")
print(df_cleaned)

Original df (with any nulls):

                        TEAM  CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  \
0             North Carolina   ACC  40  33  123.3   94.9   0.9531   52.6
1                  Wisconsin   B10  40  36  129.1   93.6   0.9758   54.8
2                   Michigan   B10  40  33  114.4   90.4   0.9375   53.9
3                 Texas Tech   B12  38  31  115.2   85.2   0.9696   53.5
4                    Gonzaga   WCC  39  37  117.8   86.3   0.9728   56.6
...                      ...   ...  ..  ..    ...    ...      ...    ...
3880               Stonehill   NEC  30   4   90.3  114.2   0.0629   46.7
3881          St. Francis PA   NEC  28   8   93.1  118.1   0.0608   47.2
3882                   IUPUI  Horz  29   6   92.1  116.9   0.0607   46.5
3883              Coppin St.  MEAC  29   2   85.1  111.1   0.0445   42.1
3884  Mississippi Valley St.  SWAC  31   1   85.4  116.2   0.0283   42.5

      EFG_D   TOR  ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  \
0      48.1  15.4  ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND
1      47.7  12.4  ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND
2      47.7  14.0  ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND
3      43.0  17.7  ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND
4      41.1  16.2  ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND
...     ...   ...  ...   ...   ...   ...   ...   ...    ...   ...         ...
3880   52.7  19.5  ...  29.4  47.9  51.7  30.1  35.9   68.1 -22.0         NaN
3881   53.0  21.2  ...  35.4  45.7  52.9  33.2  35.4   65.4 -18.6         NaN
3882   58.2  21.3  ...  33.4  49.5  59.0  24.7  38.0   67.3 -21.6         NaN
3883   51.3  22.9  ...  38.3  41.9  51.0  28.3  34.5   66.3 -22.9         NaN
3884   55.6  24.0  ...  41.6  41.9  55.6  29.2  37.0   64.5 -22.7         NaN

      SEED  YEAR
0      1.0  2016
1      1.0  2015
2      3.0  2018
3      3.0  2019
4      1.0  2017
...    ...   ...
3880   NaN  2024
3881   NaN  2024
3882   NaN  2024
3883   NaN  2024
3884   NaN  2024

[3885 rows x 24 columns]

Cleaned df (no nulls):
               TEAM  CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  EFG_D   TOR  \
0    North Carolina   ACC  40  33  123.3   94.9   0.9531   52.6   48.1  15.4
1         Wisconsin   B10  40  36  129.1   93.6   0.9758   54.8   47.7  12.4
2          Michigan   B10  40  33  114.4   90.4   0.9375   53.9   47.7  14.0
3        Texas Tech   B12  38  31  115.2   85.2   0.9696   53.5   43.0  17.7
4           Gonzaga   WCC  39  37  117.8   86.3   0.9728   56.6   41.1  16.2
..              ...   ...  ..  ..    ...    ...      ...    ...    ...   ...
743     Montana St.  BSky  31  17  102.9  105.8   0.4193   53.9   52.3  16.8
744         Stetson  ASun  31  22  108.3  114.0   0.3559   53.4   52.0  15.8
745          Howard  MEAC  32  18  104.5  112.9   0.2913   52.0   50.9  21.4
746   Grambling St.  SWAC  31  20   97.7  106.0   0.2805   48.2   49.1  20.5
747          Wagner   NEC  29  16   95.0  105.0   0.2399   44.6   48.4  15.9

     ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0    ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND   1.0  2016
1    ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND   1.0  2015
2    ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND   3.0  2018
3    ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND   3.0  2019
4    ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND   1.0  2017
..   ...   ...   ...   ...   ...   ...    ...   ...         ...   ...   ...
743  ...  37.0  53.4  54.1  36.4  32.6   68.5 -12.6         R68  16.0  2024
744  ...  25.9  52.5  52.2  36.5  34.5   66.0  -6.8         R64  16.0  2024
745  ...  39.1  49.2  50.8  37.5  34.0   67.7 -12.1         R68  16.0  2024
746  ...  33.9  47.0  48.4  34.1  33.7   64.9  -8.0         R64  16.0  2024
747  ...  29.9  42.8  50.9  31.6  29.9   61.3 -11.7         R64  16.0  2024

[748 rows x 24 columns]

In [50]:
#Top 5 Offensive Teams 
top_offensive = df.sort_values(by='Offensive Efficiency', ascending=False)
print("Top Offensive Team:\n", top_offensive[['Team','Offensive Efficiency']].head())
print()

#Top 5 Defensive Teams 
top_defensive = df. sort_values(by="Defensive Efficieny", ascending=False)
print("Top Defensive Teams:\n", top_defensive[['Team','Defensive Efficiency']].head())

KeyError: 'Offensive Efficiency'