In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

print ("All packages are loaded")

All packages are loaded

In [10]:
df = pd.read_csv("cbb.csv")

print(df.head(10))

             TEAM CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  EFG_D   TOR  \
0  North Carolina  ACC  40  33  123.3   94.9   0.9531   52.6   48.1  15.4
1       Wisconsin  B10  40  36  129.1   93.6   0.9758   54.8   47.7  12.4
2        Michigan  B10  40  33  114.4   90.4   0.9375   53.9   47.7  14.0
3      Texas Tech  B12  38  31  115.2   85.2   0.9696   53.5   43.0  17.7
4         Gonzaga  WCC  39  37  117.8   86.3   0.9728   56.6   41.1  16.2
5        Kentucky  SEC  40  29  117.2   96.2   0.9062   49.9   46.0  18.1
6        Michigan  B10  38  30  121.5   93.7   0.9522   54.6   48.0  14.6
7            Duke  ACC  39  35  125.2   90.6   0.9764   56.6   46.5  16.3
8        Virginia  ACC  38  35  123.0   89.9   0.9736   55.2   44.7  14.7
9  North Carolina  ACC  39  33  121.0   91.5   0.9615   51.7   48.1  16.2

   ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0  ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND   1.0  2016
1  ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND   1.0  2015
2  ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND   3.0  2018
3  ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND   3.0  2019
4  ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND   1.0  2017
5  ...  36.8  50.0  44.9  33.2  32.2   65.9   3.9         2ND   8.0  2014
6  ...  22.7  53.4  47.6  37.9  32.6   64.8   6.2         2ND   4.0  2013
7  ...  23.9  55.9  46.3  38.7  31.4   66.4  10.7   Champions   1.0  2015
8  ...  26.3  52.5  45.7  39.5  28.9   60.7  11.1   Champions   1.0  2019
9  ...  31.6  51.0  46.3  35.5  33.9   72.8   8.4   Champions   1.0  2017

[10 rows x 24 columns]

In [ ]:
print (df.info())

print(df.describe())

print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3885 entries, 0 to 3884
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        3885 non-null   object
 1   CONF        3885 non-null   object
 2   G           3885 non-null   int64
 3   W           3885 non-null   int64
 4   ADJOE       3885 non-null   float64
 5   ADJDE       3885 non-null   float64
 6   BARTHAG     3885 non-null   float64
 7   EFG_O       3885 non-null   float64
 8   EFG_D       3885 non-null   float64
 9   TOR         3885 non-null   float64
 10  TORD        3885 non-null   float64
 11  ORB         3885 non-null   float64
 12  DRB         3885 non-null   float64
 13  FTR         3885 non-null   float64
 14  FTRD        3885 non-null   float64
 15  2P_O        3885 non-null   float64
 16  2P_D        3885 non-null   float64
 17  3P_O        3885 non-null   float64
 18  3P_D        3885 non-null   float64
 19  ADJ_T       3885 non-null   float64
 20  WAB         3885 non-null   float64
 21  POSTSEASON  748 non-null    object
 22  SEED        748 non-null    float64
 23  YEAR        3885 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 728.6+ KB
None
                 G            W        ADJOE        ADJDE      BARTHAG  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000
mean     30.531532    16.075418   103.339743   103.341519     0.493928
std       3.809623     6.506570     7.315009     6.490684     0.255374
min       5.000000     0.000000    76.600000    84.000000     0.005000
25%      29.000000    11.000000    98.300000    98.600000     0.281200
50%      31.000000    16.000000   103.000000   103.500000     0.474000
75%      33.000000    21.000000   108.100000   108.000000     0.716400
max      40.000000    38.000000   129.100000   124.000000     0.984200

             EFG_O        EFG_D          TOR         TORD          ORB  ...  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000  ...
mean     49.935856    50.125946    18.551223    18.483115    29.267310  ...
std       3.079803     2.855079     2.145057     2.289045     4.201366  ...
min      39.200000    39.600000    11.900000    10.200000    14.400000  ...
25%      47.900000    48.200000    17.100000    16.900000    26.500000  ...
50%      49.900000    50.100000    18.500000    18.400000    29.300000  ...
75%      52.000000    52.000000    19.900000    19.900000    32.000000  ...
max      61.000000    60.100000    27.100000    28.500000    43.600000  ...

               FTR         FTRD         2P_O         2P_D         3P_O  \
count  3885.000000  3885.000000  3885.000000  3885.000000  3885.000000
mean     34.384813    34.645766    49.224402    49.388880    34.141133
std       5.465945     6.337450     3.416380     3.290915     2.713812
min      19.600000    16.200000    37.700000    37.700000    24.700000
25%      30.500000    30.100000    46.900000    47.200000    32.300000
50%      34.200000    34.000000    49.200000    49.400000    34.100000
75%      38.000000    38.600000    51.400000    51.700000    35.900000
max      58.600000    60.700000    64.000000    61.200000    44.100000

              3P_D        ADJ_T          WAB        SEED         YEAR
count  3885.000000  3885.000000  3885.000000  748.000000  3885.000000
mean     34.319614    67.712227    -7.639967    8.798128  2018.403604
std       2.406306     3.037251     6.826502    4.671615     3.583747
min      26.100000    57.200000   -25.200000    1.000000  2013.000000
25%      32.700000    65.700000   -12.600000    5.000000  2015.000000
50%      34.300000    67.600000    -8.100000    9.000000  2018.000000
75%      35.900000    69.700000    -3.000000   13.000000  2022.000000
max      43.100000    83.400000    13.100000   16.000000  2024.000000

[8 rows x 21 columns]
             TEAM CONF   G   W  ADJOE  ADJDE  BARTHAG  EFG_O  EFG_D   TOR  \
0  North Carolina  ACC  40  33  123.3   94.9   0.9531   52.6   48.1  15.4
1       Wisconsin  B10  40  36  129.1   93.6   0.9758   54.8   47.7  12.4
2        Michigan  B10  40  33  114.4   90.4   0.9375   53.9   47.7  14.0
3      Texas Tech  B12  38  31  115.2   85.2   0.9696   53.5   43.0  17.7
4         Gonzaga  WCC  39  37  117.8   86.3   0.9728   56.6   41.1  16.2

   ...  FTRD  2P_O  2P_D  3P_O  3P_D  ADJ_T   WAB  POSTSEASON  SEED  YEAR
0  ...  30.4  53.9  44.6  32.7  36.2   71.7   8.6         2ND   1.0  2016
1  ...  22.4  54.8  44.7  36.5  37.5   59.3  11.3         2ND   1.0  2015
2  ...  30.0  54.7  46.8  35.2  33.2   65.9   6.9         2ND   3.0  2018
3  ...  36.6  52.8  41.9  36.5  29.7   67.5   7.0         2ND   3.0  2019
4  ...  26.9  56.3  40.0  38.2  29.0   71.5   7.7         2ND   1.0  2017

[5 rows x 24 columns]

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3880,Stonehill,NEC,30,4,90.3,114.2,0.0629,46.7,52.7,19.5,...,29.4,47.9,51.7,30.1,35.9,68.1,-22.0,NaN,NaN,2024
3881,St. Francis PA,NEC,28,8,93.1,118.1,0.0608,47.2,53.0,21.2,...,35.4,45.7,52.9,33.2,35.4,65.4,-18.6,NaN,NaN,2024
3882,IUPUI,Horz,29,6,92.1,116.9,0.0607,46.5,58.2,21.3,...,33.4,49.5,59.0,24.7,38.0,67.3,-21.6,NaN,NaN,2024
3883,Coppin St.,MEAC,29,2,85.1,111.1,0.0445,42.1,51.3,22.9,...,38.3,41.9,51.0,28.3,34.5,66.3,-22.9,NaN,NaN,2024
3884,Mississippi Valley St.,SWAC,31,1,85.4,116.2,0.0283,42.5,55.6,24.0,...,41.6,41.9,55.6,29.2,37.0,64.5,-22.7,NaN,NaN,2024

In [41]:
df = df.rename(columns={'CONF': 'Conference'})
df = df.rename(columns={'G': 'Games Played'})
df = df.rename(columns={'W': 'Wins'})
df = df.rename(columns={'ADJOE': 'Offensive Efficiency'})
df = df.rename(columns={'ADJDE': 'Defensive Efficiency'})
df = df.rename(columns={'BARTHAG': 'Team Strength'})
df = df.rename(columns={'EFG_O': 'Field Goal % (Offense)'})
df = df.rename(columns={'EFG_D': 'Field Goal % (Defense)'})
df = df.rename(columns={'TOR': 'Turn Over Rate'})
df = df.rename(columns={'TORD': 'Steal Percentage'})
df = df.rename(columns={'ORB':'Offensive Rebounds'})
df = df.rename(columns={'DRB':'Defensive Rebound Percentage'})
df = df.rename(columns={'FTR':'Free Throw Rate'})
df = df.rename(columns={'2P_O': '2 Point (Offensive)'})
df = df.rename(columns={''

df= df.drop(columns= 'FTRD')
df=df.drop(columns='ADJ_T')

KeyError: "['FTRD'] not found in axis"